.fileExplorer {
  font-size: 0.9rem;
  color: #bbb;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff1;
  border-top: none;
  border-bottom: none;
  // box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2),
  //   3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
  //   11.2px 11.2px 17.9px rgba(0, 0, 0, 0.042),
  //   50px 50px 80px rgba(0, 0, 0, 0.07);

  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.04),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.06),
    100px 100px 80px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  overflow: hidden;
  .title {
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2),
      3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
      11.2px 11.2px 17.9px rgba(0, 0, 0, 0.042),
      50px 50px 80px rgba(0, 0, 0, 0.07);
    margin-bottom: 0.5rem;
    .accountName {
      height: 100%;
      max-width: 8rem;
      padding: 0 0.2rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        padding-right: 0.2rem;
        img {
          height: 1rem;
          width: 1rem;
          filter: invert(88%) sepia(3%) saturate(0%) hue-rotate(170deg)
            brightness(85%) contrast(90%);
        }
      }
      p {
        max-width: 8rem;
        display: flex;
        justify-content: left;
        align-items: center;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: 0.3s;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transition: 0.3s;
    }
    li {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.5rem;
      width: 1.5rem;
      img {
        height: 1rem;
        width: 1rem;
      }
      &:active {
        border: 1px solid black;
      }
      &:hover {
        background-color: rgba(119, 119, 119, 0.5);
        border-radius: 0.2rem;
      }
    }

    .handleCreateFile,
    .handleCreateFolder {
      filter: invert(56%) sepia(70%) saturate(3647%) hue-rotate(86deg)
        brightness(122%) contrast(125%);
    }

    .handleUpload,
    .handleDownload {
      filter: invert(8%) sepia(100%) saturate(7487%) hue-rotate(247deg)
        brightness(100%) contrast(144%);
    }

    .handleUpload {
      img {
        height: 0.9rem;
        width: 0.9rem;
      }
      .inputFile {
        display: none;
      }
    }

    .handleRename,
    .handleRefresh {
      filter: invert(90%) sepia(99%) saturate(4573%) hue-rotate(360deg)
        brightness(108%) contrast(104%);
    }

    li img {
      transition: 0.5s;
    }

    li:active img {
      transform: rotate(180deg);
    }

    .refresh:active img {
      transform: rotate(360deg);
    }

    .handleDelete {
      filter: invert(15%) sepia(61%) saturate(6462%) hue-rotate(356deg)
        brightness(108%) contrast(124%);
    }

    .handleCollapse {
      filter: invert(98%) sepia(0%) saturate(7500%) hue-rotate(208deg)
        brightness(105%) contrast(105%);
      img {
        width: 0.95rem;
        height: 0.95rem;
      }
    }
  }
  .files {
    box-sizing: content-box;
    overflow: auto;
    height: 90%;
    width: 99%;
    padding: 0.2rem;
    ul {
      display: flex;
      flex-direction: column;
      border-left: 3px dotted rgba(255, 255, 255, 0.05);
      border-right: 3px dotted rgba(255, 255, 255, 0.05);
    }

    /* width */
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #22222244;
      border: 1px solid #fff2;
      border-radius: 0.6rem;
      margin: 1rem;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #54545488;
      border-radius: 0.6rem;
    }
  }
  .freeSpace {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 6rem;
  }

  .dropFiles {
    height: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
