.Tilt {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Tilt .container {
  overflow: hidden;
  width: 27rem;
  height: 27rem;
  background: #1c1c1c;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3.4px 3.4px 2.7px rgba(0, 0, 0, 0.062), 8.7px 8.7px 6.9px rgba(0, 0, 0, 0.089), 17.7px 17.7px 14.2px rgba(0, 0, 0, 0.111), 36.5px 36.5px 29.2px rgba(0, 0, 0, 0.138), 100px 100px 80px rgba(0, 0, 0, 0.2);
}
.Tilt .container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 27rem;
  height: 27rem;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  animation: animate 6s linear infinite;
  animation-delay: -3s;
  transform-origin: bottom right;
}
.Tilt .container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 27rem;
  height: 27rem;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Tilt .form {
  z-index: 1;
  width: 26.5rem;
  height: 26.5rem;
  background-color: #1d2b3a;
  border-radius: 0.5rem;
}
.Tilt .form header {
  height: 5rem;
  display: flex;
  font-size: 1.5rem;
}
.Tilt .form header .title {
  width: 100%;
  height: 100%;
  color: #45f3ff;
  display: flex;
  border-bottom: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Tilt .form form,
.Tilt .form div.form {
  width: 100%;
  height: 100%;
}
.Tilt .form form .inputFieldWrapper,
.Tilt .form div.form .inputFieldWrapper {
  width: 100%;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.Tilt .form form .inputFieldWrapper p,
.Tilt .form div.form .inputFieldWrapper p {
  text-align: center;
  font-size: 0.9rem;
  text-indent: 1rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.8666666667);
  width: 80%;
}
.Tilt .form form .inputFieldWrapper p.sup,
.Tilt .form div.form .inputFieldWrapper p.sup {
  font-size: 1rem;
}
.Tilt .form form .inputFieldWrapper p.sub,
.Tilt .form div.form .inputFieldWrapper p.sub {
  font-size: 0.8rem;
}
.Tilt .form form .inputFieldWrapper div.inputPassFieldWrapper,
.Tilt .form div.form .inputFieldWrapper div.inputPassFieldWrapper {
  width: 20rem;
  height: fit-content;
  overflow: visible;
}
.Tilt .form form .inputFieldWrapper div.signUpOption,
.Tilt .form form .inputFieldWrapper div.logInOption,
.Tilt .form div.form .inputFieldWrapper div.signUpOption,
.Tilt .form div.form .inputFieldWrapper div.logInOption {
  width: 20rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.Tilt .form form .inputFieldWrapper div.signUpOption span,
.Tilt .form form .inputFieldWrapper div.logInOption span,
.Tilt .form div.form .inputFieldWrapper div.signUpOption span,
.Tilt .form div.form .inputFieldWrapper div.logInOption span {
  width: fit-content;
  height: 1.5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
.Tilt .form form .inputFieldWrapper div.signUpOption .forgetPasswordOption,
.Tilt .form form .inputFieldWrapper div.logInOption .forgetPasswordOption,
.Tilt .form div.form .inputFieldWrapper div.signUpOption .forgetPasswordOption,
.Tilt .form div.form .inputFieldWrapper div.logInOption .forgetPasswordOption {
  color: rgba(255, 255, 255, 0.25);
  cursor: url("./../../public/cursors/cur222.cur"), auto;
  transition: 0.1s;
}
.Tilt .form form .inputFieldWrapper div.signUpOption .forgetPasswordOption:hover,
.Tilt .form form .inputFieldWrapper div.logInOption .forgetPasswordOption:hover,
.Tilt .form div.form .inputFieldWrapper div.signUpOption .forgetPasswordOption:hover,
.Tilt .form div.form .inputFieldWrapper div.logInOption .forgetPasswordOption:hover {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9rem;
}
.Tilt .form form .inputFieldWrapper div.signUpOption .accountQuestion,
.Tilt .form form .inputFieldWrapper div.logInOption .accountQuestion,
.Tilt .form div.form .inputFieldWrapper div.signUpOption .accountQuestion,
.Tilt .form div.form .inputFieldWrapper div.logInOption .accountQuestion {
  color: rgba(255, 255, 255, 0.25);
}
.Tilt .form form .inputFieldWrapper div.signUpOption .signUpText,
.Tilt .form form .inputFieldWrapper div.signUpOption .logInText,
.Tilt .form form .inputFieldWrapper div.logInOption .signUpText,
.Tilt .form form .inputFieldWrapper div.logInOption .logInText,
.Tilt .form div.form .inputFieldWrapper div.signUpOption .signUpText,
.Tilt .form div.form .inputFieldWrapper div.signUpOption .logInText,
.Tilt .form div.form .inputFieldWrapper div.logInOption .signUpText,
.Tilt .form div.form .inputFieldWrapper div.logInOption .logInText {
  color: #45f3ff;
  cursor: url("./../../public/cursors/cur222.cur"), auto;
  transition: 0.1s;
}
.Tilt .form form .inputFieldWrapper div.signUpOption .signUpText:hover,
.Tilt .form form .inputFieldWrapper div.signUpOption .logInText:hover,
.Tilt .form form .inputFieldWrapper div.logInOption .signUpText:hover,
.Tilt .form form .inputFieldWrapper div.logInOption .logInText:hover,
.Tilt .form div.form .inputFieldWrapper div.signUpOption .signUpText:hover,
.Tilt .form div.form .inputFieldWrapper div.signUpOption .logInText:hover,
.Tilt .form div.form .inputFieldWrapper div.logInOption .signUpText:hover,
.Tilt .form div.form .inputFieldWrapper div.logInOption .logInText:hover {
  font-size: 0.9rem;
}
.Tilt .form form .buttonForm,
.Tilt .form div.form .buttonForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5.5rem;
  flex-direction: column;
}
.Tilt .form form .buttonForm .buttonWrapper,
.Tilt .form div.form .buttonForm .buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.Tilt .form form .buttonForm button,
.Tilt .form div.form .buttonForm button {
  cursor: url("./../../public/cursors/cur222.cur"), auto;
  background-color: #45f3ff;
  color: #1d2b3a;
  height: 100%;
  width: 15rem;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.5rem;
  font-weight: bold;
  transition: 0.1s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.121), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.179), 100px 100px 80px rgba(0, 0, 0, 0.3);
}
.Tilt .form form .buttonForm button:hover,
.Tilt .form div.form .buttonForm button:hover {
  font-size: 1rem;
  outline: 1px solid white;
  transition: 0.2s;
}
.Tilt .form form .buttonForm button:disabled,
.Tilt .form div.form .buttonForm button:disabled {
  color: #45f3ff;
  background-color: #1d2b3a;
}
.Tilt .form form .buttonForm span,
.Tilt .form div.form .buttonForm span {
  width: 100%;
  height: 100%;
  height: fit-content;
  font-size: 0.65rem;
  width: 15rem;
  color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  transition: 0.2s;
}

/*# sourceMappingURL=formWrapper.css.map */
